In [32]:
import pandas as pd
import matplotlib.pyplot as plt

In [33]:
df=pd.read_excel("seat availability.xlsx")

In [34]:
#close_rank=60000

In [35]:
df.head()

,Sr No,Institute\nCode,Institute Name,Program\nCode,Program Name,Quota,Category,Seat Pool,Vacancy
0,1,201,Dr. B R Ambedkar National\nInstitute of Techno...,4104,"Bio Technology (4 Years,\nBachelor of Technology)",HS,OBC-NCL,Gender-Neutral,2
1,2,201,Dr. B R Ambedkar National\nInstitute of Techno...,4104,"Bio Technology (4 Years,\nBachelor of Technology)",HS,GEN-EWS,Gender-Neutral,2
2,3,201,Dr. B R Ambedkar National\nInstitute of Techno...,4104,"Bio Technology (4 Years,\nBachelor of Technology)",HS,OPEN,Gender-Neutral,4
3,4,201,Dr. B R Ambedkar National\nInstitute of Techno...,4104,"Bio Technology (4 Years,\nBachelor of Technology)",HS,OPEN,Female-only (including\nSupernumerary),1
4,5,201,Dr. B R Ambedkar National\nInstitute of Techno...,4104,"Bio Technology (4 Years,\nBachelor of Technology)",HS,OPEN (PwD),Female-only (including\nSupernumerary),1

In [36]:
df.columns.tolist()

['Sr No',
 'Institute\nCode',
 'Institute Name',
 'Program\nCode',
 'Program Name',
 'Quota',
 'Category',
 'Seat Pool',
 'Vacancy']

In [37]:
# Specify the columns to drop
#columns_to_drop = ['Unnamed: 7','Unnamed: 8','Unnamed: 9']

# Drop the specified columns
#df = df.drop(columns=columns_to_drop)

In [38]:
df.columns.tolist()

['Sr No',
 'Institute\nCode',
 'Institute Name',
 'Program\nCode',
 'Program Name',
 'Quota',
 'Category',
 'Seat Pool',
 'Vacancy']

In [39]:
len(df)

4948

In [40]:
df['Quota'].unique()

array(['HS', 'OS', 'GO', 'JK', 'LA', 'AI'], dtype=object)

In [41]:
df[df['Quota']=='HS']

,Sr No,Institute\nCode,Institute Name,Program\nCode,Program Name,Quota,Category,Seat Pool,Vacancy
0,1,201,Dr. B R Ambedkar National\nInstitute of Techno...,4104,"Bio Technology (4 Years,\nBachelor of Technology)",HS,OBC-NCL,Gender-Neutral,2
1,2,201,Dr. B R Ambedkar National\nInstitute of Techno...,4104,"Bio Technology (4 Years,\nBachelor of Technology)",HS,GEN-EWS,Gender-Neutral,2
2,3,201,Dr. B R Ambedkar National\nInstitute of Techno...,4104,"Bio Technology (4 Years,\nBachelor of Technology)",HS,OPEN,Gender-Neutral,4
3,4,201,Dr. B R Ambedkar National\nInstitute of Techno...,4104,"Bio Technology (4 Years,\nBachelor of Technology)",HS,OPEN,Female-only (including\nSupernumerary),1
4,5,201,Dr. B R Ambedkar National\nInstitute of Techno...,4104,"Bio Technology (4 Years,\nBachelor of Technology)",HS,OPEN (PwD),Female-only (including\nSupernumerary),1
...,...,...,...,...,...,...,...,...,...
4854,4855,441,"Birla Institute of Technology,\nPatna Off-Campus",4144,Electrical and Electronics\nEngineering (4 Yea...,HS,GEN-EWS,Gender-Neutral,2
4855,4856,441,"Birla Institute of Technology,\nPatna Off-Campus",4144,Electrical and Electronics\nEngineering (4 Yea...,HS,OPEN,Gender-Neutral,6
4856,4857,441,"Birla Institute of Technology,\nPatna Off-Campus",4144,Electrical and Electronics\nEngineering (4 Yea...,HS,OPEN,Female-only (including\nSupernumerary),2
4857,4858,441,"Birla Institute of Technology,\nPatna Off-Campus",4144,Electrical and Electronics\nEngineering (4 Yea...,HS,OPEN (PwD),Gender-Neutral,1
4858,4859,441,"Birla Institute of Technology,\nPatna Off-Campus",4144,Electrical and Electronics\nEngineering (4 Yea...,HS,SC,Gender-Neutral,6

In [42]:
 df_os=df[df['Quota']== 'OS']

In [43]:
df['Category'].unique()

array(['OBC-NCL', 'GEN-EWS', 'OPEN', 'OPEN (PwD)', 'SC', 'ST',
       'OBC-NCL(PwD)', 'SC (PwD)', 'GEN-EWS(PwD)', 'ST (PwD)'],
      dtype=object)

In [44]:
 df_obc=df[df['Category']== 'OBC-NCL']

In [45]:
len(df_obc)

824

In [46]:
#for other state

In [47]:
df_obc_gender_neutral=df_obc[df_obc['Seat Pool']== 'Gender-Neutral']

In [48]:
len(df_obc_gender_neutral)

586

In [49]:
df_os_obc=df_obc[df_obc['Quota']== 'OS']

In [50]:
len(df_os_obc)

300

In [51]:
#df_os_obc

In [52]:
df['Seat Pool'].unique()

array(['Gender-Neutral', 'Female-only (including\nSupernumerary)'],
      dtype=object)

In [53]:
df_os_obc_gender_neutral=df_os_obc[df_os_obc['Seat Pool']== 'Gender-Neutral']

In [54]:
len(df_os_obc_gender_neutral)

188

In [55]:
#For home state

In [56]:
df_obc_gender_neutral_os=df_obc_gender_neutral[df_obc_gender_neutral['Quota']== 'OS']

In [57]:
len(df_obc_gender_neutral_os)

188

In [58]:
df_obc_gender_neutral_os.to_excel('df_obc_gender_neutral_os.xlsx')

In [59]:
df['Institute Name'].unique()

array(['Dr. B R Ambedkar National\nInstitute of Technology,\nJalandhar',
       'Malaviya National Institute of\nTechnology Jaipur',
       'Maulana Azad National\nInstitute of Technology Bhopal',
       'Motilal Nehru National\nInstitute of Technology\nAllahabad',
       'National Institute of\nTechnology Agartala',
       'National Institute of\nTechnology Calicut',
       'National Institute of\nTechnology Delhi',
       'National Institute of\nTechnology Durgapur',
       'National Institute of\nTechnology Goa',
       'National Institute of\nTechnology Hamirpur',
       'National Institute of\nTechnology Karnataka,\nSurathkal',
       'National Institute of\nTechnology Meghalaya',
       'National Institute of\nTechnology Nagaland',
       'National Institute of\nTechnology Patna',
       'National Institute of\nTechnology Puducherry',
       'National Institute of\nTechnology Raipur',
       'National Institute of\nTechnology Sikkim',
       'National Institute of\nTechnology Arunachal Pradesh',
       'National Institute of\nTechnology, Jamshedpur',
       'National Institute of\nTechnology, Kurukshetra',
       'National Institute of\nTechnology, Manipur',
       'National Institute of\nTechnology, Mizoram',
       'National Institute of\nTechnology, Rourkela',
       'National Institute of\nTechnology, Silchar',
       'National Institute of\nTechnology, Srinagar',
       'National Institute of\nTechnology, Tiruchirappalli',
       'National Institute of\nTechnology, Uttarakhand',
       'National Institute of\nTechnology, Warangal',
       'Sardar Vallabhbhai National\nInstitute of Technology, Surat',
       'Visvesvaraya National Institute\nof Technology, Nagpur',
       'National Institute of\nTechnology, Andhra Pradesh',
       'Indian Institute of Engineering\nScience and Technology,\nShibpur',
       'Atal Bihari Vajpayee Indian\nInstitute of Information\nTechnology & Management\nGwalior',
       'Indian Institute of Information\nTechnology (IIIT)Kota,\nRajasthan',
       'Indian Institute of Information\nTechnology Guwahati',
       'Indian Institute of Information\nTechnology(IIIT) Kalyani, West\nBengal',
       'Indian Institute of Information\nTechnology(IIIT) Kilohrad,\nSonepat, Haryana',
       'Indian Institute of Information\nTechnology(IIIT) Una, Himachal\nPradesh',
       'Indian Institute of Information\nTechnology (IIIT), Sri City,\nChittoor',
       'Indian Institute of Information\nTechnology(IIIT), Vadodara,\nGujrat',
       'Indian Institute of Information\nTechnology, Allahabad',
       'Indian Institute of Information\nTechnology, Design &\nManufacturing, Kancheepuram',
       'Pt. Dwarka Prasad Mishra\nIndian Institute of Information\nTechnology, Design &\nManufacture Jabalpur',
       'INDIAN INSTITUTE OF\nINFORMATION TECHNOLOGY\nSENAPATI MANIPUR',
       'Indian Institute of Information\nTechnology Tiruchirappalli',
       'Indian Institute of Information\nTechnology Lucknow',
       'Indian Institute of Information\nTechnology(IIIT) Dharwad',
       'Indian Institute of Information\nTechnology Design &\nManufacturing Kurnool,\nAndhra Pradesh',
       'Indian Institute of Information\nTechnology(IIIT) Kottayam',
       'Indian Institute of Information\nTechnology (IIIT) Ranchi',
       'Indian Institute of Information\nTechnology (IIIT) Nagpur',
       'Indian Institute of Information\nTechnology (IIIT) Pune',
       'Indian Institute of Information\nTechnology Bhagalpur',
       'Indian Institute of Information\nTechnology Bhopal',
       'Indian Institute of Information\nTechnology Surat',
       'Indian Institute of Information\nTechnology, Agartala',
       'Indian institute of information\ntechnology, Raichur, Karnataka',
       'Indian Institute of Information\nTechnology, Vadodara\nInternational Campus Diu\n(IIITVICD)',
       'Assam University, Silchar',
       'Birla Institute of Technology,\nMesra, Ranchi',
       'Gurukula Kangri\nVishwavidyalaya, Haridwar',
       'Indian Institute of Carpet\nTechnology, Bhadohi',
       'Institute of Infrastructure,\nTechnology, Research and\nManagement-Ahmedabad',
       'School of Studies of\nEngineering and Technology,\nGuru Ghasidas\nVishwavidyalaya, Bilaspur',
       'J.K. Institute of Applied Physics\n& Technology, Department of\nElectronics & Communication,\nUniversity of Allahabad-\nAllahabad',
       'National Institute of Electronics\nand Information Technology,\nAurangabad (Maharashtra)',
       'National Institute of Advanced\nManufacturing Technology,\nRanchi',
       'Sant Longowal Institute of\nEngineering and Technology',
       'Mizoram University, Aizawl',
       'School of Engineering, Tezpur\nUniversity, Napaam, Tezpur',
       'School of Planning &\nArchitecture, Bhopal',
       'School of Planning &\nArchitecture, New Delhi',
       'School of Planning &\nArchitecture: Vijayawada',
       'Shri Mata Vaishno Devi\nUniversity, Katra, Jammu &\nKashmir',
       'International Institute of\nInformation Technology, Naya\nRaipur',
       'University of Hyderabad',
       'Punjab Engineering College,\nChandigarh',
       'Jawaharlal Nehru University,\nDelhi',
       'International Institute of\nInformation Technology,\nBhubaneswar',
       'Central institute of Technology\nKokrajar, Assam',
       'Puducherry Technological\nUniversity, Puducherry',
       'Ghani Khan Choudhary\nInstitute of Engineering and\nTechnology, Malda, West\nBengal',
       'Central University of Rajasthan,\nRajasthan',
       'National Institute of Food\nTechnology Entrepreneurship\nand Management, Kundli',
       'National Institute of Food\nTechnology Entrepreneurship\nand Management, Thanjavur',
       'North Eastern Regional\nInstitute of Science and\nTechnology, Nirjuli-791109\n(Itanagar),Arunachal Pradesh',
       'Indian Institute of Handloom\nTechnology(IIHT), Varanasi',
       'Chhattisgarh Swami\nVivekanada Technical\nUniversity, Bhilai (CSVTU Bhilai)',
       'Institute of Chemical\nTechnology, Mumbai: Indian\nOil Odisha Campus,\nBhubaneswar',
       'North-Eastern Hill University,\nShillong',
       'Central University of Jammu',
       'Institute of Engineering and\nTechnology, Dr. H. S. Gour\nUniversity. Sagar (A Central\nUniversity)',
       'Central University of Haryana',
       'Birla Institute of Technology,\nDeoghar Off-Campus',
       'Birla Institute of Technology,\nPatna Off-Campus',
       'Indian Institute of Handloom\nTechnology, Salem',
       'Gati Shakti Vishwavidyalaya,\nVadodara', 'CU Jharkhand'],
      dtype=object)

In [60]:
df_nit_patna=df[df['Institute Name']=='National Institute of\nTechnology Patna']

In [61]:
len(df_nit_patna)

83

In [62]:
df_obc_gender_neutral_hs=df_obc_gender_neutral[df_obc_gender_neutral['Quota']== 'HS']

In [63]:
df_obc_gender_neutral_hs_nit_patna=df_obc_gender_neutral_hs[df_obc_gender_neutral_hs['Institute Name']=='National Institute of\nTechnology Patna']

In [64]:
len(df_obc_gender_neutral_hs_nit_patna)

3

In [65]:
df_obc_gender_neutral_hs_nit_patna.to_excel('df_obc_gender_neutral_hs_nit_patna.xlsx')